.container {
  position: relative;
  width: 33.3333%;
  float: left;
}

.image {
  padding-top: 10px;
  opacity: 1;
  display: block;
  width: 1870px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text2 {
  background-color: mediumblue;
  color: white;
  font-size: 32px;
  font-weight: 600;
  padding: 16px 32px;
  border-radius: 55px;
  border: 2px solid darkblue;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 32px;
  font-weight: 600;
  padding: 16px 32px;
  border-radius: 55px;
  border: 2px solid green;
}

/* Footer Nav */
#nav1
{  
  opacity: 0.8;     
}