/* Navbar styling */

/* #nav1
{  
  opacity: 0.7;     
}

#nav-brand{
  font-size: 30px;
  font-family: 'Reggae One', cursive;
} */

/* Home-page-products-services */

.pic:hover {
  transform: scale(1.07);
  z-index: 2;
}

.pic img {
  width: 100%;
  height: 100%;
  transition: 0.9s;
}

.wrapper {
  display: flex;
}

.wrapper .pic img:hover {
  width: 100%;
  box-shadow: 0 0 10px black;
  cursor: pointer;
}

.pic {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 30px 32px 0 30px;
  transition: 1s;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.pic:hover .image {
  opacity: 0.5;
}

.pic:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-weight: 800;
  font-size: 24px;
  padding: 16px 32px;
  cursor: pointer;
}

/* Home-page-products-services RESPONSIVE */

@media screen and (max-width: 991px) {
  .wrapper {
    flex: 0 0 100%;
    flex-direction: column;
    max-width: 90%;
    margin-left: -2px;
  }
}

@media screen and (max-width: 574px) {
  .wrapper {
    flex: 0 0 100%;
    flex-direction: column;
    max-width: 90%;
    margin-left: -8px;
    margin-right: 10px;
  }
}

/* FOOTER Styling */

a {
  text-decoration: none;
  transition: 0.5s;
  color: #fff;
}

ul,
li {
  list-style: none;
}

footer {
  background-color: black;
  color: #fff;
  margin-top: 60px;
  padding-top: 40px;
}

.footer_info {
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding: 30px 0;
}

.footer_info .footer_width {
  padding: 0 15px;
}

.footer_info h3 {
  margin-bottom: 20px;
}

.about,
.contact {
  width: 40%;
}

.link {
  width: 20%;
}

.social-link {
  margin-top: 30px;
}

.social-link ul {
  display: flex;
}

.social-link ul li a {
  display: inline-block;
  margin-right: 20px;
  width: 35px;
  height: 35px;
  padding-top: 4px;
  background-color: transparent;
  border: 1px solid #fff;
  text-align: center;
  color: #fff;
}

.social-link ul li a:hover {
  background-color: #fff;
  color: black;
}

.link ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
}

.link ul li a:hover {
  color: orange;
}

.contact ul li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact ul li a {
  text-decoration: none;
  color: #fff;
}
.contact ul li a:hover {
  color: orange;
}
.contact ul li span {
  margin-right: 15px;
}

.copy-right {
  padding: 5px 0;
  text-align: center;
  background-color: rgb(94, 83, 83);
}
.copy-right p {
  margin-top: 10 px;
}

/* FOOTER-NAVBAR RESPONSIVE */

@media screen and (max-width: 992px) {
  .about,
  .contact {
    width: 35%;
  }

  #nav-brand {
    font-size: 28px;
  }

  .link {
    width: 30%;
  }

  .text {
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  #nav-brand {
    font-size: 24px;
  }
  .about,
  .contact {
    width: 100%;
    margin-bottom: 30px;
  }

  .footer_info {
    flex-direction: column;
  }

  .text {
    font-size: 22px;
  }

  footer {
    margin-top: 30px;
  }
}

/* Sliding Loginn - Register */

body {
  font-family: sans-serif;
  margin: 0;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.login-page {
  min-height: 100vh;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.login-page .box {
  background-image: url("https://images.squarespace-cdn.com/content/v1/5b40ca7f9772ae292a768d1d/1530989280515-BVFEQ0R07K1VF0ZF89YM/ke17ZwdGBToddI8pDm48kJRqFJ19D4P4EwsC9z3fiewUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dkV64dCjSK7Zaaf7dwPYPO_gHf_vjqrS5WJoq1nmwotrP7cJNZlDXbgJNE9ef52e8w/photo_5a.jpg?format=2500w");
  /* background-image: url(../src/screens/images/bg.jpg); */
  background-size: cover;
  background-position: -160px center;
  background-repeat: repeat-x;
  flex: 0 0 700px;
  max-width: 800px;
  min-height: 550px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.login-page .box.slide-active {
  background-position: 160px center;
}

.login-page .box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.4);
}
.login-page .box .left,
.login-page .box .right {
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
}

.login-page .box .left h3,
.login-page .box .right h3 {
  font-size: 20px;
  color: #ffffff;
  margin: 0 0 15px;
}

.login-page .box .left .register-btn,
.login-page .box .right .login-btn {
  background-color: transparent;
  padding: 10px 35px;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
}

.login-page .box .left .register-btn:focus,
.login-page .box .right .login-btn:focus {
  outline: none;
}
.login-page .box .form {
  position: absolute;
  background-color: #ffffff;
  height: 100%;
  width: 50%;
  right: 0;
  top: 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
.login-page .box.slide-active .form {
  right: 50%;
}

.login-page .box .form h3 {
  font-size: 20px;
  color: #000000;
  margin: 0 0 30px;
}

.login-page .box .form .form-group {
  margin-bottom: 20px;
}

.login-page .box .form .lost-password-form,
.login-page .box .form .login-form,
.login-page .box .form .register-form {
  transition: all 0.5s ease-in-out;
}

.login-page .box .form .form-control {
  width: 100%;
  height: 45px;
  font-size: 16px;
  color: #000000;
  border: none;
  border-bottom: 1px solid #cccccc;
  padding: 0;
}
.login-page .box .form .form-control:focus {
  outline: none;
}
.login-page .box .form label {
  font-size: 16px;
  color: #555555;
}
.login-page .box .form .submit-btn {
  width: 100%;
  height: 40px;
  background-color: #e91e63;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}
.login-page .box .form .submit-btn:focus {
  outline: none;
}
.login-page .box .form p {
  margin-top: 20px;
  text-align: center;
}
.login-page .box .form h5 {
  font-size: 16px;
  color: #555555;
  margin: 0 0 30px;
  font-weight: normal;
}

.login-page .box .form p a {
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  color: #3f51b5;
}

.login-page .box .form .form-hidden {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}

/* SLIDING-LOGIN RESPONSIVE*/

@media (max-width: 767px) {
  .login-page .box {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 575px) {
  .login-page .box .form {
    width: 100%;
    position: relative;
    right: auto;
    top: auto;
    height: auto;
  }
  .login-page .box,
  .login-page .box.slide-active {
    background-position: center;
  }
  .login-page .box .left h3,
  .login-page .box .right h3 {
    font-size: 16px;
  }
  .login-page .box.slide-active .form {
    right: auto;
  }
}

#form1 {
  display: none;
}

#formButton {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
